.game {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;

  .left {
    .board {
      width: 600px;
      height: 600px;
      display: grid;
      grid-template-columns: repeat(20, 1fr);

      .element {
        cursor: pointer;
        border: 1px solid black;

        &.alive {
          background-color: rgb(0, 153, 255);
        }
      }
    }
  }

  .right {
    .slider-cont {
      .speed-label {
        font-size: 1.5rem;
        display: block;
      }

      .speed {
        width: 100%;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid #0074d9;
        border-radius: 5px;
        background-color: #0074d9;
        color: #fff;

        &:hover {
          background-color: #0056b3;
          border-color: #0056b3;
        }

        &:focus {
          outline: none;
        }

        &:active {
          background-color: #004080;
          border-color: #004080;
        }
      }
    }
  }
}
